 
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@ViewData["Title"] - Floral Shop</title>

    <!-- CSS -->
    <link rel="stylesheet" href="~/css/templatemo_style.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/ddsmoothmenu.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/slimbox2.css" asp-append-version="true" />


 
    <!-- Nivo Slider CSS -->
 

    <link rel="stylesheet" href="~/nivo-slider/nivo-slider.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/nivo-slider/themes/orman/orman.css" asp-append-version="true" />
    
     

    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <!-- JS -->
    <script src="~/js/jquery.min.js" asp-append-version="true"></script>
    <script src="~/nivo-slider/jquery.nivo.slider.js" asp-append-version="true"></script>
    <script src="~/js/ddsmoothmenu.js" asp-append-version="true"></script>
    <script src="~/js/slimbox2.js" asp-append-version="true"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    

</head>

<body>
    <div id="templatemo_wrapper_h">
        @Html.Partial("_Header")
        <div id="templatemo_main_wrapper">
            <div id="templatemo_main">
                <div class="main-layout">
                    @Html.Partial("_Sidebar")
                    <main id="content" class="right">
                        @RenderBody()
                    </main>
                </div>
                <div class="cleaner"></div>
            </div>
        </div>
        @Html.Partial("_Footer")
    </div>
</body>
</html>